/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
.flex {
    flex-direction: row;
    flex-wrap: wrap;
}

.oshiro {
    &__item {
        flex-basis: 50%;
        margin-bottom: 60px;
    }
}

.glossary {
    &__container {
        justify-content: space-between;
    }

    &__item {
        flex-basis: 47%;
    }
}

.Inner {
    position: relative;
    margin: 2%;
    flex-basis: 20%;
    padding-top: 60%;
    overflow: hidden;
    z-index: 1;
  }

.footer {
    & .logo {
        justify-content: flex-start;
    }

    &__li {
        margin-left: 0;
        margin-right: 30px;
    }
}

// .btn-CTA-Text{
//     @extend .font-lr;
    
//     }


