body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 17px;
}
.font-lg {
  font-size: 25px;
}
.font-mg {
  font-size: 50px;
}
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}
.main-title {
  @extend .font-lg;
  @extend .mb-sm;
  font-weight: 600;
  margin-bottom: 0;
  display: block;
  &:after {
    content: "";
    display: block;
    height: 4px;
    width:75%;
    background: -webkit-linear-gradient(to right, rgb(69, 28, 204), transparent);
    background: linear-gradient(to right, rgb(25, 17, 131), transparent);
  }

}

.sub-title {
  @extend .font-sm;
  color: $cSubTitle;
}
.flex {
  display: flex;
  flex-direction: column;
}

#main-content {
  position: relative;
  z-index: 0;
}

main {
  position: relative;
  z-index: -1;
}

#container {
  background-color: $cWhite;
  position: relative;
  z-index: 10;
  transition: transform 0.5s, box-shadow 0.5s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navHeight;
  background-color: transparent;
  display: flex;
  align-items: center;
  z-index: 100;

  &.triggered {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  }

  &__nav {
    display: none;
  }

  &__ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    margin-left: 20px;

    & > a {
      color: $cBlack;
      text-decoration: none !important;
      text-transform: uppercase;
    }
  }

  & .logo {
    font-size: 38px;
    justify-content: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .content-width;
  }
}

// 紹介コーナー--------------------------------------------

.introduction{
  @extend .content-width;
  background-image: url(../images/white.jpg);
  padding-bottom: 5%;
  margin-bottom: 5%;
}

.introduction-title{
  padding:5% 5%; 
  padding-bottom: 0;
  &:after {
    content: "";
    display: block;
    height: 4px;
    width: 75%;
    background: -webkit-linear-gradient(to right, rgb(94, 93, 95), transparent);
    background: linear-gradient(to right, rgb(115, 115, 119), transparent);
  }
}

.introduction-article{
  padding:5% 5%; 
}

.introduction-btn{
  margin-bottom: 5%;
}

// お城コーナー-----------------------------------------------

.oshiro {
  @extend .content-width;
  // @extend .mb-lg;
  margin-bottom: 5%;

  &__inner {
    @extend .flex;
  }

  &__title {
    @extend .font-lr;
    @extend .mb-sm;
  }

  &__btn {
    text-align: center;
    flex-basis: 100%;
  }
  
  &__item {
    position: relative;
  }
}


.oshiro-link{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
}

// 用語解説コーナー------------------------------------

.glossary{
  @extend .content-width;
  // @extend .pb-lg;
  margin-bottom: 5%;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5%;
}

.Inner {
  position: relative;
  flex-basis: 30%;
  margin:3% 10%;
  padding-top: 60%;
  overflow: hidden;
  z-index: 1; 
}

.Inner-CTA {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: solid 1px black;
  background-color: white;
  letter-spacing: 0.15em;
  color: $cBlack;
  overflow: hidden;
  z-index: 1;
}

.Inner-CTA-Text {
  
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  display: inline;
  transform: translate(-50%, -50%);
  writing-mode: vertical-rl;
  z-index: 1;
  white-space: nowrap;
}

.Inner span {
  display: inline-block;
  // background-color:$cBlack !important;
  background-image: url(../images/ULOCO8.png);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%);
  transition: transform 0.3s;
  z-index: -1;
}

.Inner-CTA:hover {
  color:white;
  font-weight: bolder;
}

.Inner:hover span {
  transform: none;
}

// モバイル表記--------------------------------------

.logo {
  font-size: 42px;
  display: flex;
  

  &__img {
    width: 0.7em;
    margin: 5px;
  }

  &__stay > a {
    text-decoration:none;
    color:black;
  }

}

.mobile-logo__stay{
  @extend .font-lg;
}

// フッター--------------------------------------

.footer {
  padding: 60px 0;
  background-color: $cBgGray;
  
  &__nav {
    @extend .flex;
    @extend .content-width;
    
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  & .logo{
    @extend .content-width;
  }

  &__ul {
    @extend .flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    padding: 0;
    margin: 10px;

    & > a {
      color: $cSubTitle;
    }
  }

  & .logo {
    font-size: 38px;
    justify-content: center;
  }
}

// ボタン------------------------------------

.btn {
  position: relative;
  width: 25%;
  height: 100%;
  padding: 25px 0;
  margin: 0 auto ;
}

.btn-CTA {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: solid 1px rgb(12, 12, 12);
  background-color: white;
  letter-spacing: 0.15em;
  color: black;
}

.btn-CTA-Text {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}

.btn-CTA:hover {
  color: white;
  background-color: gray;
}

.glossary-btn{
  margin:5px;
}

// お城メニュー-------------------------

.oshiro-menu{
  padding-top: 160px;
}

// 用語メニュー-------------------------

.glossary-menu{
  padding-top: 160px;
}


/*用語解説ページ--------------------------*/

.glossary-title{
  padding-top: 160px;
  &:after {
    content: "";
    display: block;
    height: 4px;
    width: 75%;
    background: -webkit-linear-gradient(to right, rgb(69, 28, 204), transparent);
    background: linear-gradient(to right, rgb(25, 17, 131), transparent);
  }
}

.glossary-article{
  margin-top: 5%;
  margin-bottom: 5%;
  background-image: url(../images/white.jpg);
  padding:5%;
}

/*お城紹介ページ--------------------------*/

.oshiro-title{
  @extend .content-width;
  @extend .font-mg;
  padding-top: 160px;
  text-align: center;

}

.article{
  @extend .content-width;
  margin-bottom: 5%;
}

.article-content{
  @extend .mb-lg;
}

.article-title{
  @extend .font-lg;
}

.explain__content{
  overflow-wrap: break-word;
}

table{
  width: 100%;
}

th{
  width: 30%;
  border: 1px solid black;
  box-sizing: border-box;
}

td{
  width: 70%;
  border: 1px solid black;
  box-sizing: border-box;
}

.gmap {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  }
  .gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  }


  
